﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Você está autenticado! Seu nome de usuário é: @User.Identity.Name</p>
<p>
    <a href="@FormsAuthentication.DefaultUrl">Visualizar minhas permissões</a>
</p>
<p>
    @Html.ActionLink("Testar autorização p/ Aluno", "Aluno")
</p>