﻿@{
    Layout = null;
     Response.StatusCode = 500;
    if (IsAjax)
    {
        Response.Write("Server Error.");
        return;
    }
    const string html = "text/html";
    bool requestingHtml = Request.AcceptTypes == null || Request.AcceptTypes.Any(type =>
        html.Equals(type, StringComparison.OrdinalIgnoreCase));

    if (!requestingHtml)
    {
        //não renderiza conteúdo
        return;
    }
    var exception = Session["exception"] ?? AppState["exception"];
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro interno do servidor</title>
</head>
<body>
    <h2>Ocorreu um erro. Desculpe-nos pelo incoveniente. O administrador do site foi alertado.</h2>
    @if (Request.IsLocal)
    {
        <h3>@exception</h3>
    }

    <h3>@Response.StatusCode - @Response.StatusDescription</h3>
    <h4>Original Url: @Request.RawUrl</h4>
</body>
</html>