﻿@model List<LoginCentral.Entities.Role>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Request.IsAuthenticated)
{
    <h3>Bem vindo, @Context.User.Identity.Name</h3>
    <div class="well">
        <p>Você participa dos seguintes grupos:</p>
        <ul>
            @foreach (var role in Model)
            {
                if (User.IsInRole(role.RoleName))
                {
                    <li>@role.RoleName [@Html.ActionLink("Remover", "RemoveRole", new {roleId = role.Id})] [@Html.ActionLink("Testar", role.RoleName)]</li>
                }
                else
                {
                    <li>@role.RoleName [@Html.ActionLink("Adicionar", "AddRole", new {roleId = role.Id})] [@Html.ActionLink("Testar", role.RoleName)]</li>
                }
            }
        </ul>
        
        @Html.ActionLink("Sair", "Delete")
    </div>
}
else
{
    <h3>Você não está autenticado. Faça o login.</h3>
    @Html.ActionLink("Entrar", "New")
}
<div class="well">
    @if (Request.IsLocal)
    {
        <p><a href="http://localhost:10945/">EAD</a></p>
        <p><a href="http://localhost:11995/">Portal</a></p>
    }
    else
    {
        <p><a href="http://ead.apphb.com/">EAD</a></p>
        <p><a href="http://portal-3.apphb.com/">Portal</a></p>
    }
</div>
