﻿@{
    ViewBag.Title = "New";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles for this template -->
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin .checkbox {
                font-weight: normal;
            }

            .form-signin .form-control {
                position: relative;
                height: auto;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
</head>

<body>

    <div class="container">

        <form method="POST" class="form-signin" role="form">
            
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            <h2 class="form-signin-heading">Please sign in</h2>
            <input id="UserName" name="UserName" type="text" class="form-control" placeholder="Usuário" required autofocus>
            <input id="Password" name="Password" type="password" class="form-control" placeholder="Senha" required>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div> <!-- /container -->


    <div class="well">
        @if (Request.IsLocal)
        {
            <p><a href="http://localhost:10945/">EAD</a></p>
            <p><a href="http://localhost:11995/">Portal</a></p>
        }
        else
        {
            <p><a href="http://ead.apphb.com/">EAD</a></p>
            <p><a href="http://portal-3.apphb.com/">Portal</a></p>
        }

        @Html.ActionLink("Sair", "Delete")
    </div>
</body>
</html>

